html, body, .Aligner {
  height: 100%;
}

body {
  background-color: #DCDCDC;
  margin: 0;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

h1 {
  font-family: Oswald;
  color: black;
  font-size: 90px;
}

h4 {
  font-family: Lato;
  color: black;
  font-size:50px;
}
